:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: Roboto, var(--default-font-family);
  margin: 0;
  padding: 0;
}
  
.main-container {
  overflow: hidden;
  min-width: 1000px;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
}

div {
  border: 0px solid white;
  color: white;
}
.main-container {
  display: grid;
  grid-template-rows: 80px 90vh repeat(8, calc(100vh)); /* Header + 3 full-screen sections */
  height: calc(5 * (100vh)); /* Ensures correct total height */
  background: #0c0c0c;
}

.container-firstfh {
  display: grid;
  grid-template-rows: 1fr;
  height: 90vh;
  width: auto;
}

.titles-firstfh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.technology-background {
  position: absolute;
  width: 226px;
  height: 53px;
  top: 15px;
  left: 25px;
  background: url(https://static.codia.ai/image/2025-03-18/e62b5175-3bf4-413c-b569-da3a8fa2ff44.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}

.regroup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  gap: 50px;
}

.regroup .home {
  color: #34b3f1;
}

.regroup span {
  color: white;
  text-decoration: none;
}

.imagine-journey-empower {
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}

.make-it-possible {
  font-family: Roboto, var(--default-font-family);
  font-size: 80px;
  height: 100px;
  font-weight: 500;
  line-height: 112.5px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 1;
}

.possible {
  color: #34b3f1;
}

.mesh-gradient-firstfh {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-18/5a1b3bf1-0461-4c6d-bbec-56ad05a20395.png)
    no-repeat center;
  background-size: cover;
  background-position: center top; /* Adjust this to position the gradient */
  z-index: 0;
}

.mesh-gradient-secondfh {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100;
  left: 0;
  background: url('./assets/secondfh/secondfh-grad.png')
    no-repeat center; 
  background-size: cover;
  background-position: center top; /* Adjust this to position the gradient */
  z-index: 0;
}

.mesh-gradient-thirdfh {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100;
  left: 0;
  background: url('./assets/secondfh/thirdfh-grad.png')
    no-repeat center; 
  background-size: cover;
  background-position: center top; /* Adjust this to position the gradient */
  z-index: 0;
}


.container-secondfh {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}

.first-col-secondfh {
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 1;
}

.text-container-secondfh {
  display: flex;
  padding-left: 100px;
  font-size: 50px;
  margin-top: 200px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 50px;
  align-items: center;
  }

.text-container-secondfh h4 {
  font-size: 60px;
  font-weight: 500;
}

.text-container-secondfh p {
  font-size: 17px;
  font-weight: lighter;
}

.text-wrapper-secondfh {
  display: flex;
  flex-direction: column;
  width: 670px;
  gap: 15px;
}

.logo-container-secondfh {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(2, 120px);
  margin: 50px;
  padding-left: 50px;
}

.logo-secondfh {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-secondfh img {
  display: flex;
  height: auto;
  width: 80%; 
}

.second-col-secondfh {
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.award-secondfh {
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
}

.ms-badge {
  height: 750px;  
  width: 520px;
}

.ms-partner {
  position: relative;
  right: 625px;
  top: 455px;
  height: 250px;
  width: 250px;
}
